address{
	margin-top: 10px;
}

li{
	margin-top: 10px;
}

aside{
	margin-top: 10px;

}

article{
	margin-top: 100px;
	display: inline;
}
fieldset{
	border-style: 3px solid green;
	display: inline;
	margin-top: 10px;
}